h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: bold;
}
h1{
   font-size: 5.8rem;
}
h3{
   font-size: 4.2rem;
   font-family: $roboto-bold;
}
@include sm{ 
           h3{
               font-size: 3rem;
           }
}
h4{
   font-size: 2.4rem;
   font-family: $roboto-bold;
}
h5{
   font-size: 1.8rem;
   font-family: $roboto-bold;
}
p {
   margin-bottom:1rem;
}



