// Fonts
$roboto:"Roboto";
$roboto-black:"Roboto-black";
$roboto-medium:"Roboto-medium";
$roboto-bold:"Roboto-bold";
$primary-font: Arial, Helvetica, sans-serif;

$red:#CD040B;
$text-blue:#663399;
$text-black:#333333;
$light-gray:#9A9A9A;
$gray:#E5E5E5;
$white:#ffffff;
$yellow:#FFC107;
$sky-blue:#00A8E0;
$lighter-gray:#F5F5F5;

// Container and Grid Spacing
$container-width: 1170px;
$grid-space: 15px;


// icomoon

$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../icons" !default;

$icon-lorry: "\e900";
$icon-support: "\e901";
$icon-wallet-1: "\e902";
$icon-arrows-1: "\e903";
$icon-bell-1: "\e904";
$icon-devices: "\e905";
$icon-Group-238: "\e906";
$icon-Group-365: "\e907";
$icon-Group-368: "\e908";
$icon-Group-758: "\e909";
$icon-Group-799: "\e90a";
$icon-heart-1: "\e90b";
$icon-Icon-feather-search: "\e90c";
$icon-Icon-feather-shopping-cart: "\e90d";
$icon-Icon-feather-user: "\e90e";
$icon-interview: "\e90f";
$icon-Path-469: "\e910";
$icon-place: "\e911";
$icon-search-3-path1: "\e912";
$icon-search-3-path2: "\e913";
$icon-search-3-path3: "\e914";
$icon-search-3-path4: "\e915";
$icon-support1: "\e916";


